#links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: aqua;
    border:1px solid black;
    border-radius: 25%;
    width: 400px;
    height: auto;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: firebrick;
    font-size: 20px;
    padding: 5px;

}
#inputNombre {
    width: 300px;
    height: 20px;
    border-radius: 10%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#inputEnlace {
    width: 300px;
    height: 20px;
    border-radius: 10%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 10px;
}
#anadirEnlace {
    width: 150px;
    height: 25px;
    border-radius: 10%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color:gray;
    margin-top: 10px;
}
#listadoEnlaces {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    list-style-type: none;
    gap: 20px;
}
a {
    color:black;
    text-decoration: none;
}
#listadoEnlaces button{
    background-color: gray;
    width: 30px;
}
