html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    align-items: center;
    transition: background 1s ease-in-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


#estacionMeteorologica{
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 335px;
    border-radius: 25%;
    padding: 0px 40px 0px; 
}


#prevision-container {
    display: flex;
    gap: 8px;
    width: 1000px;
    height: 130px;
    overflow-x: auto;
}


.horaPorhora {
    width: 60px;
    text-align: center;
    gap: 5px;
    border: 1px solid grey;
    color: white;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.9);
    background-color:rgba(3, 3, 3, 0.2);
}
#otrosDatos {
    text-align: center;
    margin: 20px 100px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color: white;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.9);
    height: 150px;

}
#datosPrincipales {
    text-align: center;
    width: 200px;
    margin: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color: white;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.9);
    height: 150px;

}
#otrosDatos div {
    margin-bottom: 30px;

}


#enlacesDirectos {
    display: flex;
    margin-top: auto;
    margin-bottom: 24px;
    gap: 20px;
    background-color:rgba(32, 31, 31, 0.314);

}
#enlacesDirectos a{
    font-size:40px ;
    color: white;

   
}
