/*#estacionMeteorologica{
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 350px;
    border-radius: 25%;
    padding: 30px 40px 80px; 
}


#prevision-container {
    display: flex;
    gap: 8px;
    max-width: 500px;
    max-height: 150px;
    overflow-x: auto;

}
.horaPorhora{
    width: 60px;
 
}
.horaPorhora {
    text-align: center;
    gap: 5px;
    border: 1px solid grey;
}
#otrosDatos {
    text-align: center;
    margin: 20px 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    color: firebrick;
    height: 150px;

}
#datosPrincipales {
    text-align: center;
    width: 200px;
    margin: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    color: firebrick;
    height: 150px;

}
#otrosDatos div {
    margin-bottom: 30px;
}*/


#estacionMeteorologica{
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 350px;
    border-radius: 25%;
    padding: 30px 40px 80px; 
    background-color: blue;
}


#prevision-container {
    display: flex;
    gap: 8px;
    max-width: 500px;
    max-height: 150px;
    overflow-x: auto;

}
.horaPorhora{
    width: 60px;
 
}
.horaPorhora {
    text-align: center;
    gap: 5px;
    border: 1px solid grey;
}
#otrosDatos {
    text-align: center;
    margin: 20px 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    color: firebrick;
    height: 150px;

}
#datosPrincipales {
    text-align: center;
    width: 200px;
    margin: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    color: firebrick;
    height: 150px;

}
#otrosDatos div {
    margin-bottom: 30px;
}

