#relojYfrase {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border:1px solid black;
    font-size: 50px;
    font-weight: 500px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: firebrick;
    background-color: aqua;
    width: 300px;
    border-radius: 25%;
    padding: 30px;  
}
