body {
    display: flex;
    flex-wrap: wrap;
    background-image: url('/assets/img/clay-banks-Sv_3PDNZyQ0-unsplash.jpg');
    background-size: cover;
}
#enlacesDirectos {
    display: flex;
}
#enlacesDirectos a{
    font-size:40px ;
}