/*************General**********/

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    transition: background 1s ease-in-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#arriba {
    display: flex;
    flex-wrap: wrap;
}
#medio {
    display: flex;
    flex-wrap: wrap;
}
#abajo {
    margin-top: auto;
}

#enlacesDirectos {
    display: flex;
    margin-top: auto;
    gap: 20px;

}
#enlacesDirectos a{
    font-size:40px ;
    color: azure;
    background-color:rgba(95, 89, 89, 0.114);
   
}

/*************Reloj***************/

#relojYfrase {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-size: 50px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    width: 400px;
    padding: 30px;  
}

/***************Creador de contrase単as**********/


#contrase単as {
    text-align: center;
    font-size: 28px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.9);
    width: 725px;
    height: 300px;
    border-radius: 25%;
    padding: 10px 30px 0 30px;  
}
#contrase単as button{
    border: 1px solid;
    border-radius: 15%;
    width: 125px;
    height: 60px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    background-color:rgba(3, 3, 3, 0.2);
}
#contrase単as input{
    width: 80px;
    height: 52px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    background-color:rgba(3, 3, 3, 0.2);
    font-size: 20px;
    border-radius: 15%;
    border: 1px solid;
}


/*************Biblioteca de enlaces**********/


#links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 700px;
    height: auto;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.9);
    font-size: 25px;
    padding: 5px;
}
#inputNombre {
    width: 300px;
    height: 20px;
    border-radius: 10%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#inputEnlace {
    width: 300px;
    height: 20px;
    border-radius: 10%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 10px;
}
#anadirEnlace {
    width: 150px;
    height: 25px;
    border-radius: 10%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color:gray;
    margin-top: 10px;
}
#listadoEnlaces {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    list-style-type: none;
    gap: 20px;
}
a {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    background-color: transparent;
    text-decoration:none,
}
#listadoEnlaces button{
    background-color: gray;
    width: 30px;
}



/************Estacion meteoroligica********/


#estacionMeteorologica{
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 325px;
    border-radius: 25%;
    padding: 0px 40px 0px; 
}


#prevision-container {
    display: flex;
    gap: 8px;
    max-width: 500px;
    max-height: 150px;
    overflow-x: auto;

}


.horaPorhora {
    width: 60px;
    text-align: center;
    gap: 5px;
    border: 1px solid grey;
    color: white;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.9);
    background-color:rgba(3, 3, 3, 0.2);
}
#otrosDatos {
    text-align: center;
    margin: 20px 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    color: white;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.9);
    height: 150px;

}
#datosPrincipales {
    text-align: center;
    width: 200px;
    margin: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    color: white;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.9);
    height: 150px;

}
#otrosDatos div {
    margin-bottom: 30px;
}
